.navbar {
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 0px 45px;
}

.searchBar input{
    height:40px ;
    width: 450px;
    border-radius: 50px;
    border: 1px solid gainsboro;
    font-size: 17px;
    padding-left: 20px;

}

.searchBar input:focus{
    outline: none;
    border: 1px solid rgb(35, 35, 239);

}

.userOption {
    width: 200px;
   display: flex;
   justify-content: space-evenly;
   align-items: center;

   
}

.userOption h3{
    background-color: rgb(4, 4, 80);
    color: white;
    padding: 10px;
    font-size: 16px;
    border-radius: 100%;
}